.doubutsushogi-ui {
  /* temporarilt we fix the ui fidth */
  width: 300px;
  /* show border for debugging */
  /* border: 2px solid #ff0000; */
}


/* Prisoner and turn indicator */
.prisoner-row {
  display: flex;
  padding: 0%;
  margin: 0%;
}

.prisoner-cell {
  background-color: #efefef;
  max-width: 20%;
  display: flex;
  align-items: flex-end;
  vertical-align: bottom;
  padding-right: 2%;
}

.prisoner-value {
  vertical-align: bottom;
}

.prisoner-image {
  max-width: 85%;
  padding: 0%;
  margin: 0%;
}

.prisoner-sep {
  width: 20%;
}

.turn-indicator-cell {
  max-width: 20%;
  text-align: left;
  /* show border for debugging */
  /* border: 2px solid #ff0000; */
}

.turn-indicator {
  font-size: 30px;
  text-align: left;
  filter: opacity(25%);
}

.next-mover {
  filter: opacity(100%);
}


/* Board and pieces */
.board {
  padding-top: 2%;
  padding-bottom: 2%;
}

.board-row {
  text-align: center;
  display: flex;
  padding: 0%;
  margin: 0%;

  /* debug border */
  /* border: 2px solid #ff0000; */
}

.piece-cell {
  border: 1px dashed #777777;
  background-color: #ddf5dd;
  width: 33%;
  aspect-ratio: 1;
  display: inline-block;
  text-align: center;
  margin: 0%;
}

.piece-image {
  width: 96%;
  padding: 2%;
  margin: 0%;
}

.opponent {
  transform: rotate(180deg);
}

.selected {
	-webkit-animation: blink 1.7s linear infinite alternate;
  -moz-animation: blink 1.7s linear infinite alternate;
  animation: blink 1.7s linear infinite alternate;  
  /*
  filter: brightness(110%);
  box-shadow: 5px 5px 1px  #464646, -5px -5px 1px #464646;
  border: 2px #ee6666 solid;
  border-radius: 10%;
  */
}

.not-highlighted {
  filter: brightness(70%);
}


/* Control buttons */
.control-row {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 0%;
  padding-top: 3%;
  margin: 0%;

  /* debug border */
  /* border: 2px solid #ff0000; */
}

.control-sep {
  width: 2%;
}

.control-button {
  margin: 1%;
  padding: 1% 0 0 0;
  text-align: center;
  border: 3px #222222 solid;
  border-radius: 25px; 
  width: 13%;
  aspect-ratio: 1;
  /*font-style: bold;*/
  font-size: 110%;
  /* Make sure the cursor does not change for text */
  cursor: default;

  /* Make the button text unselectable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.control-button:active{
  padding-top: 3px;
  padding-bottom: 2px;
  /* border:1px solid #334c66; */
  background-color: #e5e5e5; 
  /* color:#e0ebf5; */
  -webkit-box-shadow:inset 0px 0px 8px #334c66;
  -moz-box-shadow:inset 0px 0px 2px #3a6da0;
  box-shadow:inset 0px 0px 2px #3a6da0;
}

.inactive {
  filter: opacity(40%);
}


/* Animation */
@-moz-keyframes blink {
  /* Firefox old*/
  0%   { opacity :1.0; }
  50%  { opacity :0.2; }
  100% { opacity :1.0; }
}

@-webkit-keyframes blink {
  0%   { opacity :1.0; }
  50%  { opacity :0.2; }
  100% { opacity :1.0; }
}

@-ms-keyframes blink {
  /* IE */
  0%   { opacity :1.0; }
  50%  { opacity :0.2; }
  100% { opacity :1.0; }
}
/* Opera and prob css3 final iteration */
@keyframes blink {
  0%   { opacity :1.0; }
  50%  { opacity :0.2; }
  100% { opacity :1.0; }
}